<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fixmensintegration.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fixmensintegration.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fixmensintegration</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$fixmensintegration</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="FixmensModel" Order="1" Enabled="False">
          <Destination Path="Data Source=fixmensdb.database.windows.net;Initial Catalog=service;Persist Security Info=True;User ID=fixmens;Password=F1xm3n5$#;Application Name=EntityFramework" Name="Data Source=fixmensdb.database.windows.net;Initial Catalog=service;Persist Security Info=True;User ID=fixmens;Password=F1xm3n5$#;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FixmensIntegrationApi.FixmensModel, FixmensIntegrationApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="serviceEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=fixmensdb.database.windows.net;Initial Catalog=service;Persist Security Info=True;User ID=fixmens;Password=F1xm3n5$#;Application Name=EntityFramework" Name="Data Source=fixmensdb.database.windows.net;Initial Catalog=service;Persist Security Info=True;User ID=fixmens;Password=F1xm3n5$#;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FixmensIntegrationApi.serviceEntities, FixmensIntegrationApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FixMensAzure" Order="3" Enabled="False">
          <Destination Path="Data Source=fixmensdb.database.windows.net;Initial Catalog=service;Persist Security Info=True;User ID=fixmens;Password=F1xm3n5$#;Application Name=EntityFramework" Name="Data Source=fixmensdb.database.windows.net;Initial Catalog=service;Persist Security Info=True;User ID=fixmens;Password=F1xm3n5$#;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=fixmensdb.database.windows.net;Initial Catalog=service;Persist Security Info=True;User ID=fixmens;Password=F1xm3n5$#;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FixMensAzure_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=fixmensdb.database.windows.net;initial catalog=service;persist security info=True;user id=fixmens;password=F1xm3n5$#;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FixMensAzure-Web.config Connection String">
      <ParameterValue>data source=fixmensdb.database.windows.net;initial catalog=service;persist security info=True;user id=fixmens;password=F1xm3n5$#;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FixmensModel-Web.config Connection String">
      <ParameterValue>Data Source=fixmensdb.database.windows.net;Initial Catalog=service;Persist Security Info=True;User ID=fixmens;Password=F1xm3n5$#;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)serviceEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/FixMensSQLModel.csdl|res://*/FixMensSQLModel.ssdl|res://*/FixMensSQLModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=fixmensdb.database.windows.net;Initial Catalog=service;Persist Security Info=True;User ID=fixmens;Password=F1xm3n5$#;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>